NODE_ENV=development
PORT=3000
OPSLAB_PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=opslab
DATABASE_USER=opslab
DATABASE_PASSWORD=development
# Set to "off" to disable the fault-injection endpoint used by the incident lab
OPSLAB_CHAOS=on
